.zoomable-svg-div {
  overflow: "hidden";
  width: "100vw";
  height: "100vh";
  user-select: "none";
  cursor: "grab";
}

.zoomable-svg-div > svg {
  overflow: hidden;
  user-select: "none";
  display: block;
  margin: auto;
  width: 100vw;
  height: 100vh;
}
